.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(45deg, #0a0a0a, #7b5ee8, #0a0a0a); */
  font-family: 'Arial', sans-serif;
  
  
}

.login-form-wrapper {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  width: 310px;
  
}

.login-title-container {
  text-align: center;
  margin-bottom: 20px;
}

.login-title {
  color: #ffffff;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
}

.login-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 176, 200, 0.5);
}

.login-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.login-button {
  background: linear-gradient(45deg, #0a0a0a, #7b5ee8, #0a0a0a);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login-button:hover {
  background: linear-gradient(45deg, #0a0a0a, #7b5ee8, #0a0a0a);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 176, 200, 0.4);
}

.login-error-message {
  color: #ff6b6b;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.login-register-link {
  text-align: center;
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
}

.login-register-link a {
  color: #00b0c8;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.login-register-link a:hover {
  color: #00d8f5;
  text-decoration: underline;
}

@media (max-width: 340px) {
  .login-form-wrapper {
    width: 100%;
    padding: 20px;
  }

  .login-title {
    font-size: 1.5rem;
  }

  .login-input,
  .login-button {
    padding: 8px;
  }
}