/* FormLogin.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-wrapper {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.title-container {
  background-color: #F0E68C;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title {
  font-family: 'Get Schwifty', sans-serif;
  color: #ff1414;
  margin: 0;
  font-size: 34px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.1s;
}

.button:hover {
  background-color: #009acd;
}

.button:active {
  transform: scale(0.95);
}

.error-message {
  color: red;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}
