.locations-page {
    min-height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #4d4c4e, #0a0a0a);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px; /* Margin for navigation */
}


.locations-title {
    color: #ebe5e5 !important; 
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-left: 100px;
}

.locations-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 50%;
    max-width: 1200px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .locations-title {
        font-size: 2rem;
    }

    .locations-list {
        gap: 15px;
    }
}

@media (max-width: 380px) {
    .locations-title {
        font-size: 1.5rem;
    }

    .locations-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }
}



