/* src/front/styles/NavbarLanding.css */

.navbar {
    padding: 15px;
    border-radius: 8px; /* Bordes redondeados */
    width: 100%;
    margin-left: 0px;
    background-color: #532cd9;
    
}



.nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
    transition: color 0.3s ease;
    color: #edf1f5 !important; /* Color de texto */
    
}


.navbar-toggler {
    border: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        background-color: #532cd9;
    }
}



.navbar-dark .navbar-nav .nav-link,
.nav-link.active.colorido2 {
    background: none;
    color: inherit;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.nav-link.active.colorido2:hover {
    color: white;
    top: -3px;
}
