/* src/front/styles/NavbarLanding.css */

.navbar {
    padding: 15px;
    border-radius: 8px; /* Bordes redondeados */
    width: 100%;
    margin-left: 0px;
    background-color: #1b1b1b;
    
}



.nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
    transition: color 0.3s ease;
    color: #1e90ff !important; /* Color de texto */
}

.nav-link:hover {
    color: #f8d210 !important; /* Un color vibrante para el hover */
}

.navbar-toggler {
    border: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        background-color: #1b1b1b;
    }
}
